# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Kirthan Gengatharan\OneDrive - Universität Zürich UZH\Studium\HS2020\SoftwareConstruction\Github\swc-group19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
